USE [master]
GO
/****** Object:  Database [BookStore]    Script Date: 6/5/2022 7:15:32 PM ******/
CREATE DATABASE [BookStore]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStore]
GO

/****** Object:  UserDefinedTableType [dbo].[ProductFilterType]    Script Date: 6/5/2022 7:15:32 PM ******/
CREATE TYPE [dbo].[ProductFilterType] AS TABLE(
	[Attribute] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
	[Attributename] [nvarchar](100) NOT NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fuConvertToUnsign] 
( @strInput NVARCHAR(4000) ) 
RETURNS
NVARCHAR(4000) 
AS
BEGIN 
	IF (@strInput IS NULL)
	RETURN @strInput 
	
	IF (@strInput = '')
	RETURN @strInput 
	
	DECLARE @RT NVARCHAR(4000)
	DECLARE @SIGN_CHARS NCHAR(136) 
	DECLARE @UNSIGN_CHARS NCHAR (136) 
	
	SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' + NCHAR(272) + NCHAR(208)
	SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD'

	DECLARE @COUNTER INT 
	DECLARE @COUNTER1 INT

	SET @COUNTER = 1 
	WHILE (@COUNTER <= LEN(@strInput)) 
	BEGIN 
		SET @COUNTER1 = 1 
		WHILE (@COUNTER1 <= LEN(@SIGN_CHARS) + 1) 
		BEGIN 
			IF (UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1, 1)) = UNICODE(SUBSTRING(@strInput, @COUNTER, 1) )) 
			BEGIN 
				IF (@COUNTER = 1)
					SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1, 1) + SUBSTRING(@strInput, @COUNTER + 1, LEN(@strInput) - 1) 
				ELSE 
					SET @strInput = SUBSTRING(@strInput, 1, @COUNTER - 1) + SUBSTRING(@UNSIGN_CHARS, @COUNTER1, 1) + SUBSTRING(@strInput, @COUNTER + 1, LEN(@strInput) - @COUNTER)
					BREAK
			END 
			SET @COUNTER1 += 1 
		END 
		SET @COUNTER += 1 
	END
	SET @strInput = REPLACE(@strInput, ' ', '-') 
	RETURN @strInput 
END
GO
/****** Object:  UserDefinedFunction [dbo].[Func_NextAdminID]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Func_NextAdminID]()
RETURNS VARCHAR(100)
AS
BEGIN
    -- Declare
	DECLARE @IDAccount VARCHAR(10) = 'A0001'
	DECLARE @Idx INT
	SET @Idx = 1

	WHILE EXISTS (SELECT IDAccount FROM dbo.Taikhoan WHERE IDAccount = @IDAccount)
	BEGIN
	    SET @Idx += 1
		SET @IDAccount = 'A' + REPLICATE('0', 4 - LEN(CAST(@Idx AS VARCHAR))) + CAST(@Idx AS VARCHAR)
	END
	RETURN @IDAccount
END
GO
/****** Object:  UserDefinedFunction [dbo].[Func_NextKhachHangID]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Func_NextKhachHangID]()
RETURNS VARCHAR(100)
AS
BEGIN
    -- Declare
	DECLARE @MaDT VARCHAR(10) = 'K0001'
	DECLARE @Idx INT
	SET @Idx = 1

	WHILE EXISTS (SELECT MaDT FROM dbo.DoiTac WHERE MaDT = @MaDT)
	BEGIN
	    SET @Idx += 1
		SET @MaDT = 'K' + REPLICATE('0', 4 - LEN(CAST(@Idx AS VARCHAR))) + CAST(@Idx AS VARCHAR)
	END
	RETURN @MaDT
END
GO
/****** Object:  UserDefinedFunction [dbo].[Func_NextNCCID]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Func_NextNCCID]()
RETURNS VARCHAR(100)
AS
BEGIN
    -- Declare
	DECLARE @MaDT VARCHAR(10) = 'CC001'
	DECLARE @Idx INT
	SET @Idx = 1

	WHILE EXISTS (SELECT MaDT FROM dbo.DoiTac WHERE MaDT = @MaDT)
	BEGIN
	    SET @Idx += 1
		SET @MaDT = 'CC' + REPLICATE('0', 3 - LEN(CAST(@Idx AS VARCHAR))) + CAST(@Idx AS VARCHAR)
	END
	RETURN @MaDT
END
GO
/****** Object:  UserDefinedFunction [dbo].[Func_NextStaffID]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Func_NextStaffID]()
RETURNS VARCHAR(100)
AS
BEGIN
    -- Declare
	DECLARE @IDAccount VARCHAR(10) = 'S0001'
	DECLARE @Idx INT
	SET @Idx = 1

	WHILE EXISTS (SELECT IDAccount FROM dbo.Taikhoan WHERE IDAccount = @IDAccount)
	BEGIN
	    SET @Idx += 1
		SET @IDAccount = 'S' + REPLICATE('0', 4 - LEN(CAST(@Idx AS VARCHAR))) + CAST(@Idx AS VARCHAR)
	END
	RETURN @IDAccount
END
GO
/****** Object:  Table [dbo].[But]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[But](
	[MaSP] [int] NOT NULL,
	[MauSac] [nvarchar](20) NOT NULL,
	[ChatLieu] [nvarchar](20) NOT NULL,
	[MauMuc] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [smallint] NOT NULL,
	[Gia] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColumnName]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColumnName](
	[COLUMN_NAME] [sysname] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTac]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTac](
	[MaDT] [varchar](100) NOT NULL,
	[TenDT] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[NguoiBan] [varchar](20) NOT NULL,
	[NgayGiaoDich] [datetime] NOT NULL,
	[MaDT] [varchar](100) NOT NULL,
	[LoaiHoaDon] [varchar](10) NOT NULL,
	[GiamGia] [float] NOT NULL,
	[TongTien] [float] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__HoaDon__835ED13BAA4B9767] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHoaDon]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHoaDon](
	[MaLoaiHD] [varchar](10) NOT NULL,
	[TenLoaiHD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__LoaiHoaD__122768D2F862272C] PRIMARY KEY CLUSTERED 
(
	[MaLoaiHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSP] [int] NOT NULL,
	[TacGia] [nvarchar](100) NOT NULL,
	[NamXB] [varchar](10) NOT NULL,
	[NhaXB] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Sach__2725081C298FCEC6] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[DVT] [nvarchar](100) NOT NULL,
	[Gia] [float] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[ThuongHieu] [nvarchar](100) NOT NULL,
	[Cancellation] [bit] NOT NULL,
 CONSTRAINT [PK__SanPham__2725081C7B57884C] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taikhoan]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taikhoan](
	[IDAccount] [varchar](20) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[Active] [bit] NOT NULL,
	[RoleID] [char](5) NOT NULL,
 CONSTRAINT [PK__Taikhoan__1D323F90FFEF1D42] PRIMARY KEY CLUSTERED 
(
	[IDAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBiDienTu]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBiDienTu](
	[MaSP] [int] NOT NULL,
	[MauSac] [nvarchar](20) NOT NULL,
	[ChatLieu] [nvarchar](20) NOT NULL,
	[BaoHanh] [nvarchar](100) NOT NULL,
	[ThongSoKiThuat] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK__ThietBiD__2725081C085B398F] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 6/5/2022 7:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[RoleID] [char](5) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[But] ([MaSP], [MauSac], [ChatLieu], [MauMuc]) VALUES (21, N'Xanh Nước Biển ', N'Nhựa', N'Xanh Nước Biển')
INSERT [dbo].[But] ([MaSP], [MauSac], [ChatLieu], [MauMuc]) VALUES (22, N'Xanh Lá ', N'Nhựa', N'Xanh Lá')
INSERT [dbo].[But] ([MaSP], [MauSac], [ChatLieu], [MauMuc]) VALUES (23, N'Trắng ', N'Nhựa', N'Xanh Nước Biển')
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSP], [SoLuong], [Gia]) VALUES (2, 16, 1, 50000)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSP], [SoLuong], [Gia]) VALUES (2, 17, 1, 40000)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSP], [SoLuong], [Gia]) VALUES (2, 18, 1, 30000)
GO
INSERT [dbo].[ColumnName] ([COLUMN_NAME]) VALUES (N'MaSP')
INSERT [dbo].[ColumnName] ([COLUMN_NAME]) VALUES (N'TacGia')
INSERT [dbo].[ColumnName] ([COLUMN_NAME]) VALUES (N'NamXB')
GO
select * from Taikhoan
GO
INSERT [dbo].[DoiTac] ([MaDT], [TenDT], [DiaChi], [SDT]) VALUES (N'CC001', N'Nhà Xuất Bản Thuận Hóa Huế', N'33 Chu Văn An, Phường Phú Hội, Thừa Thiên Huế', N'08.8250259')
INSERT [dbo].[DoiTac] ([MaDT], [TenDT], [DiaChi], [SDT]) VALUES (N'CC002', N'Công Ty Cổ Phần Phát Hành Sách Tp. HCM', N'60-62 Lê Lợi, P. Bến Nghé, Q. 1, Tp. Hồ Chí Minh', N'08.8250898')
INSERT [dbo].[DoiTac] ([MaDT], [TenDT], [DiaChi], [SDT]) VALUES (N'CC003', N'Trí Tuệ - Công Ty Cổ Phần Sách & Thiết Bị Giáo Dục Trí Tuệ', N'187 Giảng Võ, Q. Đống Đa, Hà Nội', N'08.8252376')
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [NguoiBan], [NgayGiaoDich], [MaDT], [LoaiHoaDon], [GiamGia], [TongTien], [Status]) VALUES (2, N'admin', CAST(N'2023-04-01T06:44:00.000' AS DateTime), N'K0003', N'XBill', 10000, 165000, 1)
INSERT [dbo].[HoaDon] ([MaHoaDon], [NguoiBan], [NgayGiaoDich], [MaDT], [LoaiHoaDon], [GiamGia], [TongTien], [Status]) VALUES (3, N'admin', CAST(N'2023-04-02T14:43:00.000' AS DateTime), N'K0002', N'XBill', 16000, 220000, 1)
INSERT [dbo].[HoaDon] ([MaHoaDon], [NguoiBan], [NgayGiaoDich], [MaDT], [LoaiHoaDon], [GiamGia], [TongTien], [Status]) VALUES (4, N'admin', CAST(N'2023-04-02T07:46:00.000' AS DateTime), N'CC002', N'NBill', 0, 100000, 1)
GO

GO

SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[LoaiHoaDon] ([MaLoaiHD], [TenLoaiHD]) VALUES (N'XBill', N'Hóa đơn bán hàng')
INSERT [dbo].[LoaiHoaDon] ([MaLoaiHD], [TenLoaiHD]) VALUES (N'NBill', N'Hóa đơn nhập hàng')
GO
INSERT [dbo].[Sach] ([MaSP], [TacGia], [NamXB], [NhaXB]) VALUES (1, N'Mặc Hương Đồng Khứu ', N'2003 ', N'NXB Kinh tế thành phố Hồ Chí Minh')
INSERT [dbo].[Sach] ([MaSP], [TacGia], [NamXB], [NhaXB]) VALUES (2, N'Nguyễn Nhật Ánh', N'2022 ', N'Nhà Xuất Bản Kim Đồng')
INSERT [dbo].[Sach] ([MaSP], [TacGia], [NamXB], [NhaXB]) VALUES (3, N'Nguyễn Nhật Ánh ', N'2022 ', N'Nhà Xuất Bản Kim Đồng')
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DVT], [Gia], [SoLuongTon], [ThuongHieu], [Cancellation]) VALUES (1, N'Truyện Ngôn Tình Con Chim Và Đàn Lợn', N'Quyển', 252153, 474, N'FAHASA', 0)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DVT], [Gia], [SoLuongTon], [ThuongHieu], [Cancellation]) VALUES (2, N'Sách Tập Viết Lớp 1', N'Bộ', 208430, 343, N'Giáo Dục', 0)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DVT], [Gia], [SoLuongTon], [ThuongHieu], [Cancellation]) VALUES (3, N'Truyện Tranh Cho Người Già ', N'Quyển', 80852, 4736, N'Nhã Nam', 0)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[Taikhoan] ([IDAccount], [Password], [HoTen], [DiaChi], [SDT], [Active], [RoleID]) VALUES (N'admin', N'20720532132149213101239102231223249249135100218', N'Sòu đời 123', N'83 Nguyễn Công Trứ, Phường 2, TP.Đà Lạt, Lâm Đồng', N'0852987191', 1, N'admin')
INSERT [dbo].[Taikhoan] ([IDAccount], [Password], [HoTen], [DiaChi], [SDT], [Active], [RoleID]) VALUES (N'S0001', N'20720532132149213101239102231223249249135100218', N'Triệu Trọng Hậu', N'83 Nguyễn Công Trứ, Phường 2, TP Đà Lạt, Lâm Đồng', N'0852987191', 0, N'staff')
GO
INSERT [dbo].[ThietBiDienTu] ([MaSP], [MauSac], [ChatLieu], [BaoHanh], [ThongSoKiThuat]) VALUES (33, N'Đen', N'Nhựa', N'6 tháng', N'Chuyên dụng với 417 chức năng')
INSERT [dbo].[ThietBiDienTu] ([MaSP], [MauSac], [ChatLieu], [BaoHanh], [ThongSoKiThuat]) VALUES (34, N'Đỏ', N'Sắt', N'12 tháng', N'Chuyên dụng với 521 tính năng')
INSERT [dbo].[ThietBiDienTu] ([MaSP], [MauSac], [ChatLieu], [BaoHanh], [ThongSoKiThuat]) VALUES (35, N'Trắng', N'Nhựa', N'8 tháng', N'Sạc pin có thể tháo rời hay gắn liền vợt tùy ý người sử dụng')
GO
INSERT [dbo].[UserRole] ([RoleID], [RoleName]) VALUES (N'staff', N'Nhân viên')
INSERT [dbo].[UserRole] ([RoleID], [RoleName]) VALUES (N'admin', N'Quản lý')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DoiTac__4CF965621630EFB6]    Script Date: 6/5/2022 7:15:33 PM ******/
ALTER TABLE [dbo].[DoiTac] ADD UNIQUE NONCLUSTERED 
(
	[TenDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DoiTac__CA1930A5E13EB917]    Script Date: 6/5/2022 7:15:33 PM ******/
ALTER TABLE [dbo].[DoiTac] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiHoaD__F435126070E9D385]    Script Date: 6/5/2022 7:15:33 PM ******/
ALTER TABLE [dbo].[LoaiHoaDon] ADD  CONSTRAINT [UQ__LoaiHoaD__F435126070E9D385] UNIQUE NONCLUSTERED 
(
	[TenLoaiHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SanPham__4CF9DC1466DC9F69]    Script Date: 6/5/2022 7:15:33 PM ******/
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [UQ__SanPham__4CF9DC1466DC9F69] UNIQUE NONCLUSTERED 
(
	[TenSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserRole__8A2B61602B34401F]    Script Date: 6/5/2022 7:15:33 PM ******/
ALTER TABLE [dbo].[UserRole] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__NguoiBan__0169315C]  DEFAULT ('admin') FOR [NguoiBan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__Status__45544755]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF__SanPham__Gia__6B79F03D]  DEFAULT (abs(checksum(newid()))%(300.000)+(1)) FOR [Gia]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [df_SLT]  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF__SanPham__Cancell__0A688BB1]  DEFAULT ((0)) FOR [Cancellation]
GO
ALTER TABLE [dbo].[But]  WITH CHECK ADD  CONSTRAINT [FK__But__MaSP__36B12243] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[But] CHECK CONSTRAINT [FK__But__MaSP__36B12243]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietHo__MaHoa__4AB81AF0] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK__ChiTietHo__MaHoa__4AB81AF0]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietHoa__MaSP__4BAC3F29] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK__ChiTietHoa__MaSP__4BAC3F29]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__LoaiHoaD__44FF419A] FOREIGN KEY([LoaiHoaDon])
REFERENCES [dbo].[LoaiHoaDon] ([MaLoaiHD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__LoaiHoaD__44FF419A]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__MaDT__45F365D3] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DoiTac] ([MaDT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__MaDT__45F365D3]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__NguoiBan__025D5595] FOREIGN KEY([NguoiBan])
REFERENCES [dbo].[Taikhoan] ([IDAccount])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__NguoiBan__025D5595]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK__Sach__MaSP__33D4B598] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK__Sach__MaSP__33D4B598]
GO
ALTER TABLE [dbo].[Taikhoan]  WITH CHECK ADD  CONSTRAINT [FK__Taikhoan__RoleID__29572725] FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRole] ([RoleID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Taikhoan] CHECK CONSTRAINT [FK__Taikhoan__RoleID__29572725]
GO
ALTER TABLE [dbo].[ThietBiDienTu]  WITH CHECK ADD  CONSTRAINT [FK__ThietBiDie__MaSP__398D8EEE] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThietBiDienTu] CHECK CONSTRAINT [FK__ThietBiDie__MaSP__398D8EEE]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([Gia]>(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK__HoaDon__GiamGia__4316F928] CHECK  (([GiamGia]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK__HoaDon__GiamGia__4316F928]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK__HoaDon__TongTien__440B1D61] CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK__HoaDon__TongTien__440B1D61]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK__SanPham__SoLuong__300424B4] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK__SanPham__SoLuong__300424B4]
GO
/****** Object:  StoredProcedure [dbo].[USP_Bestseller]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_Bestseller]
@StartDate AS DATE = NULL,
@EndDate AS DATE = NULL
AS
BEGIN
	IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
	BEGIN
		SELECT CT.MaSP, S.TenSP, SUM(CT.SoLuong) AS SoLuong
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		JOIN dbo.SanPham S
		ON S.MaSP = CT.MaSP
		WHERE H.NgayGiaoDich BETWEEN @StartDate AND @EndDate
		GROUP BY CT.MaSP, S.TenSP
		HAVING SUM(CT.SoLuong) >= 
		(SELECT CAST(SUM(T.SoLuong) / COUNT(*) AS FLOAT) GiaTriTrungBinh 
		FROM (SELECT SUM(CT.SoLuong) AS SoLuong
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		JOIN dbo.SanPham S
		ON S.MaSP = CT.MaSP
		WHERE H.NgayGiaoDich BETWEEN @StartDate AND @EndDate
		GROUP BY CT.MaSP, S.TenSP) AS T)
	END

	IF (@StartDate IS NULL AND @EndDate IS NULL)
	BEGIN
		SELECT CT.MaSP, S.TenSP, SUM(CT.SoLuong) AS SoLuong
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		JOIN dbo.SanPham S
		ON S.MaSP = CT.MaSP
		GROUP BY CT.MaSP, S.TenSP
		HAVING SUM(CT.SoLuong) >= 
		(SELECT CAST(SUM(T.SoLuong) / COUNT(*) AS FLOAT) GiaTriTrungBinh 
		FROM (SELECT SUM(CT.SoLuong) AS SoLuong
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		JOIN dbo.SanPham S
		ON S.MaSP = CT.MaSP
		GROUP BY CT.MaSP, S.TenSP) AS T)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_BillRate]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_BillRate]
@StartDate AS DATE = NULL,
@EndDate AS DATE = NULL
AS
BEGIN
	DECLARE @SLHoaDonTuanNay INT
	DECLARE @SLHoaDonTuantruoc INT
	DECLARE @TiLe FLOAT
	DECLARE @TongHoaDon FLOAT
	DECLARE @RatioOnTotal FLOAT

	IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
	BEGIN
		DECLARE @DiffDate INT

		SELECT @DiffDate = (DATEDIFF(DAY, @StartDate, @EndDate) + 1) * -1

	    SELECT @SLHoaDonTuanNay = COUNT(*)
		FROM dbo.HoaDon H WHERE
		H.NgayGiaoDich BETWEEN @StartDate AND @EndDate

		SELECT @SLHoaDonTuantruoc = COUNT(*)
		FROM dbo.HoaDon H WHERE
		H.NgayGiaoDich BETWEEN DATEADD(DAY, @DiffDate, @StartDate) AND DATEADD(DAY, -1, @StartDate)
	END
	
	IF (@StartDate IS NULL AND @EndDate IS NULL)
	BEGIN
	    SELECT @SLHoaDonTuanNay = COUNT(*)
		FROM dbo.HoaDon H WHERE
		H.NgayGiaoDich BETWEEN DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0) AND DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 6)

		SELECT @SLHoaDonTuantruoc = COUNT(*)
		FROM dbo.HoaDon H WHERE
		H.NgayGiaoDich BETWEEN DATEADD(WEEK, DATEDIFF(WEEK, 6, GETDATE()), 0) AND DATEADD(WEEK, DATEDIFF(WEEK, 6, GETDATE()), 6)
	END

	SELECT @TiLe =
	ISNULL(ROUND(NULLIF(CAST((@SLHoaDonTuanNay - @SLHoaDonTuantruoc) AS FLOAT), 0) / NULLIF(@SLHoaDonTuantruoc, 0) * 100, 1), 0)

	SELECT @TongHoaDon = COUNT(*) FROM dbo.HoaDon

	SELECT @RatioOnTotal =
	ISNULL(ROUND(NULLIF(@SLHoaDonTuanNay, 0) / NULLIF(@TongHoaDon, 1) * 100, 1), 0)
	
	SELECT @SLHoaDonTuanNay AS SLHoaDonTuanNay, @SLHoaDonTuantruoc AS SLHoaDonTuantruoc, @TiLe AS TiLe, @RatioOnTotal AS RatioOnTotal
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CancleAccount]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CancleAccount]
@Name NVARCHAR(100),
@SDT VARCHAR(20)
AS
BEGIN
	DECLARE @isActive BIT
	SELECT @isActive = Active FROM dbo.Taikhoan WHERE HoTen = @Name AND SDT = @SDT

	IF (@isActive = 1)
    UPDATE dbo.Taikhoan SET Active = 0
	WHERE HoTen = @Name AND SDT = @SDT
	ELSE
    UPDATE dbo.Taikhoan SET Active = 1
	WHERE HoTen = @Name AND SDT = @SDT
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CancleProductByID]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CancleProductByID]
@MaSP INT
AS
BEGIN
    UPDATE dbo.SanPham SET Cancellation = 1 WHERE MaSP = @MaSP
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CreateAccount]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CreateAccount]
@HoTen NVARCHAR(100),
@DiaChi NVARCHAR(200),
@SDT VARCHAR(20),
@RoleID VARCHAR(10)
AS
BEGIN
	DECLARE @IDAccount VARCHAR(100)

	IF (@RoleID = 'staff')
		SELECT @IDAccount = dbo.Func_NextStaffID()
	ELSE
		SELECT @IDAccount = dbo.Func_NextAdminID()

    INSERT dbo.Taikhoan
    (
        IDAccount,
        Password,
        HoTen,
        DiaChi,
        SDT,
        Active,
        RoleID
    )
    VALUES
    (   @IDAccount,   -- IDAccount - varchar(20)
        '20720532132149213101239102231223249249135100218',   -- Password - varchar(50)
        @HoTen,  -- HoTen - nvarchar(30)
        @DiaChi,  -- DiaChi - nvarchar(200)
        @SDT,   -- SDT - varchar(20)
        1, -- Active - bit
        @RoleID    -- RoleID - char(5)
        )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CustomerRate]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CustomerRate]
AS
BEGIN
	DECLARE @SLKhachHangTuanNay INT
	DECLARE @SLKhachHangTuanTruoc INT
	DECLARE @TiLe FLOAT

	SELECT @SLKhachHangTuanNay = COUNT(DISTINCT MaDT)
	FROM dbo.HoaDon
	WHERE MaDT LIKE 'K%' AND 
	NgayGiaoDich BETWEEN DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0) AND DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 6)

	SELECT @SLKhachHangTuanTruoc = COUNT(DISTINCT MaDT)
	FROM dbo.HoaDon
	WHERE MaDT LIKE 'K%' AND 
	NgayGiaoDich BETWEEN DATEADD(WEEK, DATEDIFF(WEEK, 6, GETDATE()), 0) AND DATEADD(WEEK, DATEDIFF(WEEK, 6, GETDATE()), 6)

    SELECT @TiLe =
	ISNULL(ROUND(NULLIF(CAST((@SLKhachHangTuanNay - @SLKhachHangTuanTruoc) AS FLOAT), 0) / NULLIF(@SLKhachHangTuanTruoc, 0) * 100, 1), 0)

	SELECT @SLKhachHangTuanNay AS SLKhachHangTuanNay, @SLKhachHangTuanTruoc AS SLKhachHangTuanTruoc, @TiLe AS TiLe
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteBillDetail]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DeleteBillDetail]
@MaHoaDon INT
AS
BEGIN

	DECLARE AmountChange CURSOR FOR SELECT MaSP, SoLuong FROM dbo.ChiTietHoaDon WHERE MaHoaDon = @MaHoaDon

	OPEN AmountChange
	
	DECLARE @MaSP INT
	DECLARE @SoLuong INT

	FETCH NEXT FROM AmountChange INTO @MaSP, @SoLuong
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
		UPDATE dbo.SanPham SET SoLuongTon = SoLuongTon + @SoLuong WHERE MaSP = @MaSP
		
		FETCH NEXT FROM AmountChange INTO @MaSP, @SoLuong
	END

	CLOSE AmountChange
	DEALLOCATE AmountChange

    DELETE dbo.ChiTietHoaDon WHERE MaHoaDon = @MaHoaDon
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EditBill]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_EditBill]
@MaHoaDon INT,
@NguoiBan VARCHAR(20),
@MaDT VARCHAR(100),
@GiamGia FLOAT,
@TongTien FLOAT,
@Status BIT
AS
BEGIN
    UPDATE dbo.HoaDon SET NguoiBan = @NguoiBan, MaDT = @MaDT, GiamGia = @GiamGia, TongTien = @TongTien, Status = @Status
	WHERE MaHoaDon = @MaHoaDon
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAccount]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetAccount]
@IDAccount VARCHAR(20),
@Password varchar(50)
AS
BEGIN
    SELECT * FROM dbo.Taikhoan
	WHERE @IDAccount = IDAccount AND @Password = Password
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllProduct]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetAllProduct]
AS
BEGIN
    SELECT * FROM dbo.SanPham
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetBillDetailByID]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetBillDetailByID]
@MaHoaDon INT
AS
BEGIN
	SELECT SP.MaSP, SP.TenSP, CT.Gia, CT.SoLuong, HD.GiamGia, (CT.SoLuong * CT.Gia) AS ThanhTien, SP.SoLuongTon
	FROM dbo.HoaDon HD JOIN dbo.ChiTietHoaDon CT
	ON CT.MaHoaDon = HD.MaHoaDon
	JOIN dbo.SanPham SP
	ON SP.MaSP = CT.MaSP
	WHERE HD.MaHoaDon = @MaHoaDon
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetBillProductByID]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetBillProductByID]
@MaSP INT,
@StartDate AS DATE = NULL,
@EndDate AS DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL AND @EndDate IS NULL)
	BEGIN
		SELECT HD.MaHoaDon, HD.NgayGiaoDich, HD.MaDT, HD.LoaiHoaDon, HD.GiamGia, HD.TongTien FROM dbo.HoaDon HD
		JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = HD.MaHoaDon
		WHERE CT.MaSP = @MaSP
	END
	
	IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
	BEGIN
		SELECT HD.MaHoaDon, HD.NgayGiaoDich, HD.MaDT, HD.LoaiHoaDon, HD.GiamGia, HD.TongTien FROM dbo.HoaDon HD
		JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = HD.MaHoaDon
		WHERE CT.MaSP = @MaSP AND HD.NgayGiaoDich BETWEEN @StartDate AND @EndDate
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetColumnProductName]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetColumnProductName]
@Table_Name AS NVARCHAR(100)
AS
BEGIN
	DECLARE @ColumnName NVARCHAR(MAX)
	SELECT @ColumnName = N'Giá'

	IF (@Table_Name = 'Sach')
	BEGIN
		SELECT @ColumnName = N'Giá,Tác giả,Năm xuất bản,Nhà xuất bản'
	END

	IF (@Table_Name = 'But')
	BEGIN
		SELECT @ColumnName = N'Giá,Màu sắc,Chất liệu,Màu mực'
	END

	IF (@Table_Name = 'ThietBiDienTu')
	BEGIN
		SELECT @ColumnName = N'Giá,Màu sắc,Chất liệu,Bảo hành,Thông số kĩ thuật'
	END

	SELECT @ColumnName
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetDoiTacByInfo]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetDoiTacByInfo]
@TenDT NVARCHAR(MAX),
@DiaChi NVARCHAR(200),
@SDT VARCHAR(20)
AS
BEGIN
    SELECT * FROM dbo.DoiTac
	WHERE TenDT = @TenDT AND @DiaChi = DiaChi AND SDT = @SDT
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetInfoProductFilter]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetInfoProductFilter]
@Table_Name AS NVARCHAR(100)
AS
BEGIN
	IF (@Table_Name = 'Sach')
	BEGIN
		SELECT SP.DVT, SP.ThuongHieu AS N'Thương hiệu,ThuongHieu',
		S.TacGia AS N'Tác giả,TacGia', 
		S.NamXB AS N'Năm xuất bản,NamXB', 
		S.NhaXB AS N'Nhà xuất bản,NhaXB' FROM dbo.SanPham SP JOIN dbo.Sach S
		ON S.MaSP = SP.MaSP
	END

	IF (@Table_Name = 'But')
	BEGIN
		SELECT SP.DVT, SP.ThuongHieu AS N'Thương hiệu,ThuongHieu',
		B.MauSac AS N'Màu sắc,MauSac',
		B.ChatLieu AS N'Chất liệu,ChatLieu',
		B.MauMuc AS N'Màu mực,MauMuc' FROM dbo.SanPham SP JOIN dbo.But B
		ON B.MaSP = SP.MaSP
	END

	IF (@Table_Name = 'ThietBiDienTu')
	BEGIN
		SELECT SP.DVT, SP.ThuongHieu AS N'Thương hiệu,ThuongHieu',
		TBDT.MauSac AS N'Màu sắc,MauSac',
		TBDT.ChatLieu AS N'Chất liệu,ChatLieu',
		TBDT.BaoHanh AS N'Bảo hành,BaoHanh',
		TBDT.ThongSoKiThuat AS N'Thông số kĩ thuật,ThongSoKiThuat'
		FROM dbo.SanPham SP JOIN dbo.ThietBiDienTu TBDT
		ON TBDT.MaSP = SP.MaSP
	END

	IF (@Table_Name = 'SanPham' OR @Table_Name = 'VanPhongPham')
	BEGIN
		SELECT SP.DVT, SP.ThuongHieu AS N'Thương hiệu,ThuongHieu'
		FROM dbo.SanPham SP 
		WHERE SP.MaSP NOT IN (SELECT MaSP FROM dbo.Sach) AND	
		SP.MaSP NOT IN (SELECT MaSP FROM dbo.ThietBiDienTu) AND	
		SP.MaSP NOT IN (SELECT MaSP FROM dbo.But)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetInvoiceDetail]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetInvoiceDetail]
@MaHoaDon INT
AS
BEGIN
	SELECT HD.MaHoaDon,
	DT.TenDT AS TenKhachHang, 
	DT.DiaChi,
	DT.SDT, 
	TK.HoTen,
	HD.LoaiHoaDon,
	HD.NgayGiaoDich AS ThoiGian, 
	HD.TongTien AS TongTienHang, 
	HD.GiamGia,
	(HD.TongTien - HD.GiamGia) AS TongThanhToan,
	HD.Status
	FROM dbo.HoaDon HD 
	JOIN dbo.DoiTac DT
	ON DT.MaDT = HD.MaDT
	JOIN dbo.Taikhoan TK
	ON TK.IDAccount = HD.NguoiBan
	WHERE HD.MaHoaDon = @MaHoaDon
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetProductByID]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetProductByID]
@MaSP INT
AS
BEGIN
    IF EXISTS (SELECT * FROM dbo.Sach WHERE MaSP = @MaSP)
	BEGIN
		SELECT SP.MaSP, 
		SP.TenSP, 
		SP.DVT, 
		SP.Gia,
		SP.ThuongHieu,
		SP.SoLuongTon,
		S.TacGia AS N'Tác giả,TacGia', 
		S.NamXB AS N'Năm xuất bản,NamXB', 
		S.NhaXB AS N'Nhà xuất bản,NhaXB' 
		FROM dbo.SanPham SP JOIN dbo.Sach S
		ON S.MaSP = SP.MaSP
		WHERE SP.MaSP = @MaSP
	END
	ELSE IF EXISTS (SELECT * FROM dbo.But WHERE MaSP = @MaSP)
	BEGIN
		SELECT SP.MaSP, 
		SP.TenSP, 
		SP.DVT, 
		SP.Gia,
		SP.ThuongHieu,
		SP.SoLuongTon,
		B.MauSac AS N'Màu sắc,MauSac',
		B.ChatLieu AS N'Chất liệu,ChatLieu',
		B.MauMuc AS N'Màu mực,MauMuc' FROM dbo.SanPham SP JOIN dbo.But B
		ON B.MaSP = SP.MaSP
		WHERE SP.MaSP = @MaSP
	END
	ELSE IF EXISTS (SELECT * FROM dbo.ThietBiDienTu WHERE MaSP = @MaSP)
	BEGIN
		SELECT SP.MaSP, 
		SP.TenSP, 
		SP.DVT, 
		SP.Gia,
		SP.ThuongHieu,
		SP.SoLuongTon,
		TBDT.MauSac AS N'Màu sắc,MauSac',
		TBDT.ChatLieu AS N'Chất liệu,ChatLieu',
		TBDT.BaoHanh AS N'Bảo hành,BaoHanh',
		TBDT.ThongSoKiThuat AS N'Thông số kĩ thuật,ThongSoKiThuat'
		FROM dbo.SanPham SP JOIN dbo.ThietBiDienTu TBDT
		ON TBDT.MaSP = SP.MaSP
		WHERE SP.MaSP = @MaSP
	END
	ELSE
	BEGIN
		SELECT SP.MaSP, 
		SP.TenSP, 
		SP.DVT, 
		SP.Gia,
		SP.ThuongHieu,
		SP.SoLuongTon
		FROM dbo.SanPham SP 
		WHERE SP.MaSP NOT IN (SELECT MaSP FROM dbo.Sach) AND	
		SP.MaSP NOT IN (SELECT MaSP FROM dbo.ThietBiDienTu) AND	
		SP.MaSP NOT IN (SELECT MaSP FROM dbo.But) AND
		SP.MaSP = @MaSP
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBill]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertBill]
@NguoiBan VARCHAR(20),
@NgayGiaoDich DATETIME,
@MaDT VARCHAR(100),
@LoaiHoaDon VARCHAR(10),
@GiamGia FLOAT,
@TongTien FLOAT,
@Status BIT
AS
BEGIN
	DECLARE @error NVARCHAR(150)

    IF NOT EXISTS (SELECT * FROM dbo.LoaiHoaDon WHERE MaLoaiHD = @LoaiHoaDon)
	BEGIN
		SELECT @error = N'Vui lòng chọn loại hóa đơn nhập hoặc hóa đơn bán hàng';
		RAISERROR (@error, 16, 1)
		ROLLBACK TRAN
	END
    ELSE IF NOT EXISTS (SELECT * FROM dbo.DoiTac WHERE MaDT = @MaDT)
	BEGIN
		SELECT @error = N'Thông tin Khách hàng/ Đối tác không đúng vui lòng kiểm tra lại';
		RAISERROR (@error, 16, 1)
		ROLLBACK TRAN
	END
	ELSE IF NOT EXISTS (SELECT * FROM dbo.Taikhoan WHERE IDAccount = @NguoiBan)
	BEGIN
		SELECT @error = N'Thông tin người bán không đúng vui lòng kiểm tra lại';
		RAISERROR (@error, 16, 1)
		ROLLBACK TRAN
	END
	ELSE
	BEGIN
	    INSERT dbo.HoaDon VALUES
	    (@NguoiBan, @NgayGiaoDich, @MaDT, @LoaiHoaDon, @GiamGia, @TongTien, @Status)

		SELECT MaHoaDon FROM dbo.HoaDon
		WHERE NguoiBan = @NguoiBan AND NgayGiaoDich = @NgayGiaoDich AND MaDT = @MaDT AND LoaiHoaDon = @LoaiHoaDon AND GiamGia = @GiamGia AND TongTien = @TongTien
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillDetail]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertBillDetail]
@MaHoaDon INT,
@MaSP INT,
@SoLuong SMALLINT,
@Gia FLOAT
AS
BEGIN
    INSERT dbo.ChiTietHoaDon ( MaHoaDon, MaSP, SoLuong, Gia )
    VALUES ( @MaHoaDon, @MaSP, @SoLuong, @Gia  )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBut]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_InsertBut]
@Tensanpham NVARCHAR(100),
@Thuonghieu NVARCHAR(100),
@Donvitinh NVARCHAR(100),
@Gia FLOAT,
@Mausac NVARCHAR(20),
@Chatlieu NVARCHAR(20),
@Maumuc NVARCHAR(20)
AS
BEGIN
    INSERT dbo.SanPham
    (
        TenSP,
        DVT,
		Gia,
        ThuongHieu
    )
    VALUES
    (   @Tensanpham, -- TenSP - nvarchar(100)
        @Donvitinh, -- DVT - nvarchar(15)
		@Gia,
        @Thuonghieu -- ThuongHieu - nvarchar(50)
        )

	DECLARE @MaSP INT
	SET @MaSP = @@IDENTITY

	INSERT dbo.But
	(
	    MaSP,
	    MauSac,
	    ChatLieu,
	    MauMuc
	)
	VALUES
	(   @MaSP,   -- MaSP - int
	    @Mausac, -- MauSac - nvarchar(20)
	    @Chatlieu, -- ChatLieu - nvarchar(20)
	    @Maumuc  -- MauMuc - nvarchar(20)
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertDoiTac]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertDoiTac]
@TenDT NVARCHAR(100),
@DiaChi NVARCHAR(100),
@SDT VARCHAR(20),
@isCustomer BIT
AS
BEGIN
	IF EXISTS (SELECT * FROM dbo.DoiTac
	WHERE TenDT = @TenDT AND DiaChi = @DiaChi AND SDT = @SDT)
	BEGIN
		SELECT * FROM dbo.DoiTac
		WHERE TenDT = @TenDT AND DiaChi = @DiaChi AND SDT = @SDT
	END
	ELSE
	BEGIN
		DECLARE @MaDT VARCHAR(100)

		IF (@isCustomer = 1)
			SELECT @MaDT = dbo.Func_NextNCCID()
		ELSE
			SELECT @MaDT = dbo.Func_NextKhachHangID()

		INSERT dbo.DoiTac VALUES
		(@MaDT, @TenDT, @DiaChi, @SDT)
		SELECT * FROM dbo.DoiTac WHERE MaDT = @MaDT
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertSach]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_InsertSach]
@Tensanpham NVARCHAR(100),
@Thuonghieu NVARCHAR(100),
@Donvitinh NVARCHAR(100),
@Gia FLOAT,
@Tacgia NVARCHAR(100),
@Namxuatban VARCHAR(10),
@Nhaxuatban NVARCHAR(100)
AS
BEGIN
    INSERT dbo.SanPham
    (
        TenSP,
        DVT,
		Gia,
        ThuongHieu
    )
    VALUES
    (   @Tensanpham, -- TenSP - nvarchar(100)
        @Donvitinh, -- DVT - nvarchar(15)
		@Gia,
        @Thuonghieu -- ThuongHieu - nvarchar(50)
        )

	DECLARE @MaSP INT
	SET @MaSP = @@IDENTITY

	INSERT dbo.Sach
	(
	    MaSP,
	    TacGia,
	    NamXB,
	    NhaXB
	)
	VALUES
	(   @MaSP,   -- MaSP - int
	    @Tacgia, -- TacGia - nvarchar(50)
	    @Namxuatban,  -- NamXB - char(5)
	    @Nhaxuatban  -- NhaXB - nvarchar(100)
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertTBDT]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_InsertTBDT]
@Tensanpham NVARCHAR(100),
@Thuonghieu NVARCHAR(100),
@Donvitinh NVARCHAR(100),
@Gia FLOAT,
@Mausac NVARCHAR(20),
@Chatlieu NVARCHAR(20),
@Baohanh NVARCHAR(100),
@Thongsokithuat NVARCHAR(200)
AS
BEGIN
    INSERT dbo.SanPham
    (
        TenSP,
        DVT,
		Gia,
        ThuongHieu
    )
    VALUES
    (   @Tensanpham, -- TenSP - nvarchar(100)
        @Donvitinh, -- DVT - nvarchar(15)
		@Gia,
        @Thuonghieu -- ThuongHieu - nvarchar(50)
        )

	DECLARE @MaSP INT
	SET @MaSP = @@IDENTITY
	
	INSERT dbo.ThietBiDienTu
	(
	    MaSP,
	    MauSac,
	    ChatLieu,
	    BaoHanh,
	    ThongSoKiThuat
	)
	VALUES
	(   @MaSP,   -- MaSP - int
	    @Mausac, -- MauSac - nvarchar(20)
	    @Chatlieu, -- ChatLieu - nvarchar(20)
	    @Baohanh, -- BaoHanh - nvarchar(10)
	    @Thongsokithuat  -- ThongSoKiThuat - nvarchar(200)
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertVPP]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertVPP]
@Tensanpham NVARCHAR(100),
@Thuonghieu NVARCHAR(100),
@Donvitinh NVARCHAR(100),
@Gia FLOAT
AS
BEGIN
    INSERT dbo.SanPham
    (
        TenSP,
        DVT,
		Gia,
        ThuongHieu
    )
    VALUES
    (   @Tensanpham, -- TenSP - nvarchar(100)
        @Donvitinh, -- DVT - nvarchar(15)
		@Gia,
        @Thuonghieu -- ThuongHieu - nvarchar(50)
        )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InvoiceDetails]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InvoiceDetails]
@LoaiHoaDon AS VARCHAR(10) = NULL,
@StartDate AS DATE = NULL,
@EndDate AS DATE = NULL
AS
BEGIN
	IF (@LoaiHoaDon IS NOT NULL)
	BEGIN
		IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
		BEGIN
			SELECT * FROM dbo.HoaDon WHERE LoaiHoaDon = @LoaiHoaDon AND
			NgayGiaoDich BETWEEN @StartDate AND DATEADD(DAY, 1, @EndDate)
		END
		
		IF (@StartDate IS NULL AND @EndDate IS NULL)
		BEGIN
			SELECT * FROM dbo.HoaDon WHERE LoaiHoaDon = @LoaiHoaDon
		END
	END
	
	ELSE IF (@LoaiHoaDon IS NULL)
	BEGIN
		IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
		BEGIN
			SELECT * FROM dbo.HoaDon
			WHERE NgayGiaoDich BETWEEN @StartDate AND DATEADD(DAY, 1, @EndDate)
		END
		
		IF (@StartDate IS NULL AND @EndDate IS NULL)
		BEGIN
			SELECT * FROM dbo.HoaDon
		END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InvoiceDetailsByPeriodPrice]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[USP_InvoiceDetailsByPeriodPrice]
@StartPrice AS FLOAT,
@EndPrice AS FLOAT
AS
BEGIN
	SELECT * FROM dbo.HoaDon
	WHERE TongTien BETWEEN @StartPrice AND @EndPrice
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InvoiceDetailsByRole]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_InvoiceDetailsByRole]
@LoaiHoaDon AS VARCHAR(10)
AS
BEGIN
	IF (@LoaiHoaDon = 'NULL')
	BEGIN
	    SELECT * FROM dbo.HoaDon
		RETURN
	END

	SELECT * FROM dbo.HoaDon WHERE LoaiHoaDon = @LoaiHoaDon
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InvoiceDetailsByStages]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_InvoiceDetailsByStages]
@StartDate AS DATE,
@EndDate AS DATE
AS
BEGIN
	SELECT * FROM dbo.HoaDon
	WHERE NgayGiaoDich BETWEEN @StartDate AND @EndDate
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InvoiceStatisticalAnalysis]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InvoiceStatisticalAnalysis]
@StartDate AS DATETIME = NULL,
@EndDate AS DATETIME = NULL
AS
BEGIN
	IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
	BEGIN
		WITH CTE_TEST AS (SELECT CT.MaHoaDon, COUNT(CT.MaHoaDon) AS MucHoaDon, SUM(CT.SoLuong) AS TongSoLuongSP FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		WHERE H.NgayGiaoDich BETWEEN @StartDate AND @EndDate AND H.LoaiHoaDon = 'XBill'
		GROUP BY CT.MaHoaDon)
		SELECT (CASE
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Monday' THEN 0
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Tuesday' THEN 1
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Wednesday' THEN 2
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Thursday' THEN 3
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Friday' THEN 4
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Saturday' THEN 5
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Sunday' THEN 6
		 END) AS NgayThu, DATENAME(dw, H.NgayGiaoDich) AS Thu,
		 ('Day ' + CAST(DAY(H.NgayGiaoDich) AS VARCHAR) +  '/' + CAST(MONTH(H.NgayGiaoDich) AS VARCHAR)) AS NgayGiaoDich,
		 CTE_TEST.MucHoaDon, CTE_TEST.TongSoLuongSP
		FROM CTE_TEST JOIN dbo.HoaDon H
		ON H.MaHoaDon = CTE_TEST.MaHoaDon AND H.LoaiHoaDon = 'XBill'
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ProductFilter]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ProductFilter]
@Table_Name AS NVARCHAR(100),
@Table ProductFilterType READONLY
AS
BEGIN
	DECLARE @SelectTableQuery NVARCHAR(MAX)
	DECLARE @fromSubQuery NVARCHAR(MAX)

	IF NOT EXISTS (SELECT * FROM @Table)
	BEGIN
	    SELECT * FROM dbo.SanPham
		RETURN
	END

	IF (@Table_Name = 'Sach')
	BEGIN
		SET @SelectTableQuery = '
		SELECT * FROM ( SELECT SP.MaSP, SP.TenSP, SP.ThuongHieu, SP.SoLuongTon, SP.DVT, SP.Cancellation, S.TacGia, CONVERT(NVARCHAR(MAX), S.NamXB) AS NamXB, S.NhaXB 
		FROM dbo.SanPham SP JOIN dbo.Sach S
		ON S.MaSP = SP.MaSP ) AS Sach'
		SET @fromSubQuery = 'SELECT SP.MaSP
		FROM dbo.SanPham SP JOIN dbo.Sach S
		ON S.MaSP = SP.MaSP'
	END

	IF (@Table_Name = 'But')
	BEGIN
		SET @SelectTableQuery = '
		SELECT * FROM ( SELECT SP.MaSP, SP.TenSP, SP.ThuongHieu, SP.SoLuongTon, SP.DVT, SP.Cancellation, B.MauSac, B.ChatLieu, B.MauMuc 
		FROM dbo.SanPham SP JOIN dbo.But B
		ON B.MaSP = SP.MaSP ) AS But'
		SET @fromSubQuery = 'SELECT SP.MaSP
		FROM dbo.SanPham SP JOIN dbo.But B
		ON B.MaSP = SP.MaSP'
	END

	IF (@Table_Name = 'ThietBiDienTu')
	BEGIN
		SET @SelectTableQuery = '
		SELECT * FROM ( SELECT SP.MaSP, SP.TenSP, SP.ThuongHieu, SP.SoLuongTon, SP.DVT, SP.Cancellation, TBDT.MauSac, TBDT.ChatLieu, TBDT.BaoHanh, TBDT.ThongSoKiThuat
		FROM dbo.SanPham SP JOIN dbo.ThietBiDienTu TBDT
		ON TBDT.MaSP = SP.MaSP ) AS ThietBiDienTu'
		SET @fromSubQuery = 'SELECT SP.MaSP
		FROM dbo.SanPham SP JOIN dbo.ThietBiDienTu TBDT
		ON TBDT.MaSP = SP.MaSP'
	END

	IF (@Table_Name = 'SanPham' OR @Table_Name = 'VanPhongPham')
	BEGIN
		SET @SelectTableQuery = '
		SELECT * FROM ( SELECT SP.MaSP, SP.TenSP, SP.ThuongHieu, SP.SoLuongTon, SP.DVT, SP.Cancellation
		FROM dbo.SanPham SP 
		WHERE SP.MaSP NOT IN (SELECT MaSP FROM dbo.Sach) AND	
		SP.MaSP NOT IN (SELECT MaSP FROM dbo.ThietBiDienTu) AND	
		SP.MaSP NOT IN (SELECT MaSP FROM dbo.But) ) AS VanPhongPham'
		SET @fromSubQuery = 'SELECT SP.MaSP
		FROM dbo.SanPham SP 
		WHERE SP.MaSP NOT IN (SELECT MaSP FROM dbo.Sach) AND	
		SP.MaSP NOT IN (SELECT MaSP FROM dbo.ThietBiDienTu) AND	
		SP.MaSP NOT IN (SELECT MaSP FROM dbo.But)'
		SET @Table_Name = 'VanPhongPham'
	END
	DECLARE AttributeCursor CURSOR FOR SELECT Attribute, Value FROM @Table ProductFilterType

	OPEN AttributeCursor

	DECLARE @Attribute NVARCHAR(100)
	DECLARE @Value NVARCHAR(100)
	DECLARE @NewConditionQuery NVARCHAR(10)
	DECLARE @i INT
	DECLARE @queryOutput NVARCHAR(MAX)

	SET @i = 0
	SET @NewConditionQuery  = ' WHERE '

	FETCH NEXT FROM AttributeCursor INTO @Attribute, @Value
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF (@i <= 0)
		BEGIN
			--SET @SelectTableQuery = @SelectTableQuery + @NewConditionQuery +
			--@Table_Name + '.' + @Attribute + ' = N''' + @Value + ''''
			SET @queryOutput = @SelectTableQuery + @NewConditionQuery +
			@Table_Name + '.MaSP' + ' IN ( ' + @fromSubQuery + ' AND ' + @Attribute + ' = N''' + @Value + ''' )'
			SET @i = @i + 1
		END
		ELSE
		BEGIN
			--SET @queryOutput = @SelectTableQuery + ' AND ' +
			--@Table_Name + '.' + @Attribute + ' = N''' + @Value + ''''
			SET @queryOutput = @queryOutput + ' AND ' +
			@Table_Name + '.MaSP' + ' IN ( ' + @fromSubQuery + ' AND ' +  @Attribute + ' = N''' + @Value + ''' )'
		END

		FETCH NEXT FROM AttributeCursor INTO @Attribute, @Value
	END

	CLOSE AttributeCursor
	DEALLOCATE AttributeCursor

	SET @SelectTableQuery = 'SELECT MaSP, TenSP, ThuongHieu, SoLuongTon, DVT, Cancellation FROM ( ' + @queryOutput + ' ) AS T'
	EXEC (@SelectTableQuery)
	--SELECT @SelectTableQuery
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ProductImportedRate]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_ProductImportedRate]
@StartDate AS DATE = NULL,
@EndDate AS DATE = NULL
AS
BEGIN
	DECLARE @SLSPTuanNay INT
	DECLARE @SLSPTuanTruoc INT
	DECLARE @TiLe FLOAT
	DECLARE @TongSLSP FLOAT
	DECLARE @RatioOnTotal FLOAT

	IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
	BEGIN
		DECLARE @DiffDate INT

		SELECT @DiffDate = (DATEDIFF(DAY, @StartDate, @EndDate) + 1) * -1

	    SELECT @SLSPTuanNay = SUM(CT.SoLuong)
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		WHERE H.MaDT LIKE 'CC%' AND 
		H.NgayGiaoDich BETWEEN @StartDate AND DATEADD(DAY, 1, @EndDate)

		SELECT @SLSPTuanTruoc = SUM(CT.SoLuong)
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		WHERE H.MaDT LIKE 'CC%' AND 
		H.NgayGiaoDich BETWEEN DATEADD(DAY, @DiffDate, @StartDate) AND @StartDate
	END

	IF (@StartDate IS NULL AND @EndDate IS NULL)
	BEGIN
		SELECT @SLSPTuanNay = SUM(CT.SoLuong)
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		WHERE H.MaDT LIKE 'CC%' AND 
		H.NgayGiaoDich BETWEEN DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0) AND DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 6)

		SELECT @SLSPTuanTruoc = SUM(CT.SoLuong)
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		WHERE H.MaDT LIKE 'CC%' AND 
		H.NgayGiaoDich BETWEEN DATEADD(WEEK, DATEDIFF(WEEK, 6, GETDATE()), 0) AND DATEADD(WEEK, DATEDIFF(WEEK, 6, GETDATE()), 6)
	END

    SELECT @TiLe =
	ISNULL(ROUND(NULLIF(CAST((@SLSPTuanNay - @SLSPTuanTruoc) AS FLOAT), 0) / NULLIF(@SLSPTuanTruoc, 0) * 100, 1), 0)

	SELECT @TongSLSP = SUM(SoLuongTon) FROM dbo.SanPham 
	WHERE SoLuongTon > 0 AND Cancellation = 0

	SELECT @RatioOnTotal =
	ISNULL(ROUND(NULLIF(@SLSPTuanNay, 0) / NULLIF(@TongSLSP, 1) * 100, 1), 0)

	SELECT @SLSPTuanNay AS SLSPTuanNay, @SLSPTuanTruoc AS SLSPTuanTruoc, @TiLe AS TiLe, @RatioOnTotal AS RatioOnTotal
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ProductSoldRate]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_ProductSoldRate]
@StartDate AS DATE = NULL,
@EndDate AS DATE = NULL
AS
BEGIN
	DECLARE @SLSPTuanNay INT
	DECLARE @SLSPTuanTruoc INT
	DECLARE @TiLe FLOAT
	DECLARE @TongSLSP FLOAT
	DECLARE @RatioOnTotal FLOAT

	IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
	BEGIN
		DECLARE @DiffDate INT

		SELECT @DiffDate = (DATEDIFF(DAY, @StartDate, @EndDate) + 1) * -1

	    SELECT @SLSPTuanNay = SUM(CT.SoLuong)
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		WHERE H.MaDT LIKE 'K%' AND 
		H.NgayGiaoDich BETWEEN @StartDate AND DATEADD(DAY, 1, @EndDate)

		SELECT @SLSPTuanTruoc = SUM(CT.SoLuong)
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		WHERE H.MaDT LIKE 'K%' AND 
		H.NgayGiaoDich BETWEEN DATEADD(DAY, @DiffDate, @StartDate) AND @StartDate
	END

	IF (@StartDate IS NULL AND @EndDate IS NULL)
	BEGIN
		SELECT @SLSPTuanNay = SUM(CT.SoLuong)
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		WHERE H.MaDT LIKE 'K%' AND 
		H.NgayGiaoDich BETWEEN DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0) AND DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 6)

		SELECT @SLSPTuanTruoc = SUM(CT.SoLuong)
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		WHERE H.MaDT LIKE 'K%' AND 
		H.NgayGiaoDich BETWEEN DATEADD(WEEK, DATEDIFF(WEEK, 6, GETDATE()), 0) AND DATEADD(WEEK, DATEDIFF(WEEK, 6, GETDATE()), 6)
	END

    SELECT @TiLe =
	ISNULL(ROUND(NULLIF(CAST((@SLSPTuanNay - @SLSPTuanTruoc) AS FLOAT), 0) / NULLIF(@SLSPTuanTruoc, 0) * 100, 1), 0)
	
	SELECT @TongSLSP = SUM(SoLuongTon) FROM dbo.SanPham 
	WHERE SoLuongTon > 0 AND Cancellation = 0

	SELECT @RatioOnTotal =
	ISNULL(ROUND(NULLIF(@SLSPTuanNay, 0) / NULLIF(@TongSLSP, 1) * 100, 1), 0)

	SELECT @SLSPTuanNay AS SLSPTuanNay, @SLSPTuanTruoc AS SLSPTuanTruoc, @TiLe AS TiLe, @RatioOnTotal AS RatioOnTotal
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ProductStock]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_ProductStock]
AS
BEGIN
	DECLARE @Sach INT
	DECLARE @ThietBiDienTu INT
	DECLARE @VanPhongPham INT

	SELECT @Sach = SUM(SoLuongTon) FROM dbo.SanPham JOIN dbo.Sach
	ON Sach.MaSP = SanPham.MaSP AND SoLuongTon > 0 AND Cancellation = 0

	SELECT @ThietBiDienTu = SUM(SoLuongTon)  FROM dbo.SanPham JOIN dbo.ThietBiDienTu
	ON ThietBiDienTu.MaSP = SanPham.MaSP  AND SoLuongTon > 0 AND Cancellation = 0
    
	SELECT @VanPhongPham = SUM(SoLuongTon)  FROM dbo.SanPham S
	WHERE S.MaSP NOT IN (SELECT MaSP FROM dbo.Sach) AND	
	S.MaSP NOT IN (SELECT MaSP FROM dbo.ThietBiDienTu) AND	
	S.MaSP NOT IN (SELECT MaSP FROM dbo.But)  AND SoLuongTon > 0 AND Cancellation = 0

	SELECT @Sach AS Sach, @ThietBiDienTu AS ThietBiDienTu, @VanPhongPham AS VanPhongPham
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ResetPassword]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ResetPassword]
@IDAccount VARCHAR(100)
AS
BEGIN
    UPDATE dbo.Taikhoan SET Password = '20720532132149213101239102231223249249135100218'
	WHERE IDAccount = @IDAccount
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RevenueByProduct]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_RevenueByProduct]
@StartDate AS DATE = NULL,
@EndDate AS DATE = NULL
AS
BEGIN
	IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
	BEGIN
		SELECT T.MaSP, S.TenSP, SUM(T.SoLuong) AS SoLuong, SUM(T.TongTien) AS TongTien
		FROM (SELECT CT.MaSP, CT.SoLuong, CT.Gia, (CT.SoLuong * CT.Gia) AS TongTien 
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		WHERE H.NgayGiaoDich BETWEEN @StartDate AND @EndDate) AS T JOIN dbo.SanPham S
		ON S.MaSP = T.MaSP
		GROUP BY T.MaSP, S.TenSP
	END

	IF (@StartDate IS NULL AND @EndDate IS NULL)
	BEGIN
		SELECT T.MaSP, S.TenSP, SUM(T.SoLuong) AS TongSoLuong, SUM(T.TongTien) AS TongTien
		FROM (SELECT CT.MaSP, CT.SoLuong, CT.Gia, (CT.SoLuong * CT.Gia) AS TongTien 
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon) AS T JOIN dbo.SanPham S
		ON S.MaSP = T.MaSP
		GROUP BY T.MaSP, S.TenSP
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RevenueRate]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_RevenueRate]
@StartDate AS DATE = NULL,
@EndDate AS DATE = NULL
AS
BEGIN
	DECLARE @DoanhThuTuanNay INT
	DECLARE @DoanhThuTuanTruoc INT
	DECLARE @TiLe FLOAT
	DECLARE @TongDoanhThu FLOAT
	DECLARE @RatioOnTotal FLOAT

	IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
	BEGIN
		DECLARE @DiffDate INT

		SELECT @DiffDate = (DATEDIFF(DAY, @StartDate, @EndDate) + 1) * -1

	    SELECT @DoanhThuTuanNay = SUM(TongTien)
		FROM dbo.HoaDon H WHERE
		H.NgayGiaoDich BETWEEN @StartDate AND DATEADD(DAY, 1, @EndDate)

		SELECT @DoanhThuTuanTruoc = SUM(TongTien)
		FROM dbo.HoaDon H WHERE
		H.NgayGiaoDich BETWEEN DATEADD(DAY, @DiffDate, @StartDate) AND @StartDate
	END

	IF (@StartDate IS NULL AND @EndDate IS NULL)
	BEGIN
		SELECT @DoanhThuTuanNay = SUM(TongTien)
		FROM dbo.HoaDon 
		WHERE
		NgayGiaoDich BETWEEN DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0) AND DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 6)

		SELECT @DoanhThuTuanTruoc = SUM(TongTien)
		FROM dbo.HoaDon 
		WHERE
		NgayGiaoDich BETWEEN DATEADD(WEEK, DATEDIFF(WEEK, 6, GETDATE()), 0) AND DATEADD(WEEK, DATEDIFF(WEEK, 6, GETDATE()), 6)
	END

    SELECT @TiLe =
	ISNULL(ROUND(NULLIF(CAST((@DoanhThuTuanNay - @DoanhThuTuanTruoc) AS FLOAT), 0) / NULLIF(@DoanhThuTuanTruoc, 0) * 100, 1), 0)

	SELECT @TongDoanhThu = SUM(TongTien) FROM dbo.HoaDon

	SELECT @RatioOnTotal =
	ISNULL(ROUND(NULLIF(@DoanhThuTuanNay, 0) / NULLIF(@TongDoanhThu, 1) * 100, 1), 0)

	SELECT @DoanhThuTuanNay AS DoanhThuTuanNay, @DoanhThuTuanTruoc AS DoanhThuTuanTruoc, @TiLe AS TiLe, @RatioOnTotal AS RatioOnTotal
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RevenueStatisticsInPreviousStages]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_RevenueStatisticsInPreviousStages]
@StartDate AS DATE = NULL,
@EndDate AS DATE = NULL
AS
BEGIN
	IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
	BEGIN
		DECLARE @DiffDate INT

		SELECT @DiffDate = (DATEDIFF(DAY, @StartDate, @EndDate) + 1) * -1

		;WITH CTE_TEST AS (SELECT CAST(NgayGiaoDich AS DATE) AS NgayGiaoDich, SUM(TongTien) AS TongTien
		FROM dbo.HoaDon 
		WHERE NgayGiaoDich BETWEEN DATEADD(DAY, @DiffDate, @StartDate) AND @StartDate
		GROUP BY CAST(NgayGiaoDich AS DATE))
		SELECT (CASE
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Monday' THEN 0
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Tuesday' THEN 1
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Wednesday' THEN 2
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Thursday' THEN 3
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Friday' THEN 4
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Saturday' THEN 5
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Sunday' THEN 6
		 END) AS NgayThu, DATENAME(dw, H.NgayGiaoDich) AS Thu, H.NgayGiaoDich, CTE_TEST.TongTien
		FROM (SELECT DISTINCT (CAST(NgayGiaoDich AS DATE)) AS NgayGiaoDich FROM dbo.HoaDon) AS H JOIN CTE_TEST
		ON H.NgayGiaoDich = CTE_TEST.NgayGiaoDich AND
		H.NgayGiaoDich BETWEEN DATEADD(DAY, @DiffDate, @StartDate) AND DATEADD(DAY, -1, @StartDate)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RevenueStatisticsInThisStages]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_RevenueStatisticsInThisStages]
@StartDate AS DATE = NULL,
@EndDate AS DATE = NULL
AS
BEGIN
	IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
	BEGIN
		DECLARE @DiffDate INT

		SELECT @DiffDate = (DATEDIFF(DAY, @StartDate, @EndDate) + 1) * -1

		;WITH CTE_TEST AS (SELECT CAST(NgayGiaoDich AS DATE) AS NgayGiaoDich, SUM(TongTien) AS TongTien
		FROM dbo.HoaDon 
		WHERE NgayGiaoDich BETWEEN @StartDate AND DATEADD(DAY, 1, @EndDate)
		GROUP BY CAST(NgayGiaoDich AS DATE))
		SELECT (CASE
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Monday' THEN 0
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Tuesday' THEN 1
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Wednesday' THEN 2
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Thursday' THEN 3
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Friday' THEN 4
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Saturday' THEN 5
			  WHEN DATENAME(dw, H.NgayGiaoDich) = 'Sunday' THEN 6
		 END) AS NgayThu, DATENAME(dw, H.NgayGiaoDich) AS Thu, H.NgayGiaoDich, CTE_TEST.TongTien
		FROM (SELECT DISTINCT (CAST(NgayGiaoDich AS DATE)) AS NgayGiaoDich FROM dbo.HoaDon) AS H JOIN CTE_TEST
		ON H.NgayGiaoDich = CTE_TEST.NgayGiaoDich AND
		H.NgayGiaoDich BETWEEN @StartDate AND DATEADD(DAY, 1, @EndDate)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RevenueStatisticsInWeek]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_RevenueStatisticsInWeek] 
AS
BEGIN
	WITH CTE_TEST AS (SELECT CAST(NgayGiaoDich AS DATE) AS NgayGiaoDich, SUM(TongTien) AS TongTien
	FROM dbo.HoaDon 
	WHERE NgayGiaoDich BETWEEN DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0) AND DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 6)
	GROUP BY CAST(NgayGiaoDich AS DATE))
	SELECT (CASE
          WHEN DATENAME(dw, H.NgayGiaoDich) = 'Monday' THEN 0
          WHEN DATENAME(dw, H.NgayGiaoDich) = 'Tuesday' THEN 1
          WHEN DATENAME(dw, H.NgayGiaoDich) = 'Wednesday' THEN 2
          WHEN DATENAME(dw, H.NgayGiaoDich) = 'Thursday' THEN 3
          WHEN DATENAME(dw, H.NgayGiaoDich) = 'Friday' THEN 4
          WHEN DATENAME(dw, H.NgayGiaoDich) = 'Saturday' THEN 5
          WHEN DATENAME(dw, H.NgayGiaoDich) = 'Sunday' THEN 6
     END) AS NgayThu, DATENAME(dw, H.NgayGiaoDich) AS Thu, H.NgayGiaoDich, CTE_TEST.TongTien
	FROM (SELECT DISTINCT (CAST(NgayGiaoDich AS DATE)) AS NgayGiaoDich FROM dbo.HoaDon) AS H JOIN CTE_TEST
	ON H.NgayGiaoDich = CTE_TEST.NgayGiaoDich AND
    H.NgayGiaoDich BETWEEN DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0) AND DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 6)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SalesInWeek]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SalesInWeek]
AS
BEGIN
	DECLARE @Sach INT
	DECLARE @But INT
	DECLARE @ThietBiDienTu INT
	DECLARE @VanPhongPham INT

	SELECT @Sach = COUNT(SP.MaSP) FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT 
	ON H.MaHoaDon = CT.MaHoaDon
	JOIN dbo.SanPham SP
	ON SP.MaSP = CT.MaSP
	JOIN dbo.Sach S
	ON S.MaSP = SP.MaSP
	
	SELECT @But = COUNT(SP.MaSP) FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT 
	ON H.MaHoaDon = CT.MaHoaDon
	JOIN dbo.SanPham SP
	ON SP.MaSP = CT.MaSP
	JOIN dbo.But B
	ON B.MaSP = SP.MaSP

	SELECT @ThietBiDienTu = COUNT(SP.MaSP) FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT 
	ON H.MaHoaDon = CT.MaHoaDon
	JOIN dbo.SanPham SP
	ON SP.MaSP = CT.MaSP
	JOIN dbo.ThietBiDienTu TBDT
	ON TBDT.MaSP = SP.MaSP
    
	SELECT @VanPhongPham = COUNT(SP.MaSP) FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT 
	ON H.MaHoaDon = CT.MaHoaDon
	JOIN dbo.SanPham SP
	ON SP.MaSP = CT.MaSP
	WHERE SP.MaSP NOT IN (SELECT MaSP FROM dbo.Sach) AND	
	SP.MaSP NOT IN (SELECT MaSP FROM dbo.ThietBiDienTu) AND	
	SP.MaSP NOT IN (SELECT MaSP FROM dbo.But)

	SELECT @Sach AS Sach, @But AS But, @ThietBiDienTu AS ThietBiDienTu, @VanPhongPham AS VanPhongPham
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchBill]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SearchBill]
@keyword NVARCHAR(200)
AS 
BEGIN
    SELECT HD.MaHoaDon, HD.NguoiBan, HD.NgayGiaoDich, DT.MaDT, HD.LoaiHoaDon, HD.GiamGia, HD.TongTien FROM dbo.HoaDon HD
	JOIN dbo.DoiTac DT
	ON DT.MaDT = HD.MaDT
	WHERE ([dbo].[fuConvertToUnsign](DT.TenDT) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR DT.SDT LIKE N'%' + @keyword + '%'
	OR HD.MaHoaDon LIKE @keyword)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchDoiTac]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SearchDoiTac]
@keyword NVARCHAR(200),
@isCustomer BIT
AS 
BEGIN
	IF (@isCustomer = 1)
    SELECT * FROM dbo.DoiTac 
	WHERE (SDT LIKE N'%' + @keyword + '%'
	OR [dbo].[fuConvertToUnsign](TenDT) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%') AND MaDT LIKE 'C%'
	ELSE
    SELECT * FROM dbo.DoiTac 
	WHERE (SDT LIKE N'%' + @keyword + '%'
	OR [dbo].[fuConvertToUnsign](TenDT) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%') AND MaDT LIKE 'K%'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchProduct]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_SearchProduct]
@keyword NVARCHAR(200)
AS 
BEGIN
	IF (@keyword IS NULL OR @keyword = N'')
	BEGIN
	    SELECT * FROM dbo.SanPham
		RETURN
	END

	IF EXISTS (
	SELECT * FROM dbo.SanPham SP JOIN dbo.Sach S
	ON S.MaSP = SP.MaSP
	WHERE [dbo].[fuConvertToUnsign](SP.TenSP) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR [dbo].[fuConvertToUnsign](SP.ThuongHieu) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR [dbo].[fuConvertToUnsign](S.TacGia) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR [dbo].[fuConvertToUnsign](S.NamXB) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR [dbo].[fuConvertToUnsign](S.NhaXB) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	)
	BEGIN
	    SELECT SP.MaSP, 
		SP.TenSP, 
		SP.DVT, 
		SP.Gia,
		SP.ThuongHieu,
		SP.SoLuongTon,
		SP.Cancellation
		FROM dbo.SanPham SP JOIN dbo.Sach S
		ON S.MaSP = SP.MaSP
		WHERE [dbo].[fuConvertToUnsign](SP.TenSP) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		OR [dbo].[fuConvertToUnsign](SP.ThuongHieu) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		OR [dbo].[fuConvertToUnsign](S.TacGia) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		OR [dbo].[fuConvertToUnsign](S.NamXB) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		OR [dbo].[fuConvertToUnsign](S.NhaXB) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		RETURN
	END

	IF EXISTS (
	SELECT * FROM dbo.SanPham SP JOIN dbo.But B
	ON B.MaSP = SP.MaSP
	WHERE [dbo].[fuConvertToUnsign](SP.TenSP) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR [dbo].[fuConvertToUnsign](SP.ThuongHieu) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR [dbo].[fuConvertToUnsign](B.MauSac) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR [dbo].[fuConvertToUnsign](B.ChatLieu) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR [dbo].[fuConvertToUnsign](B.MauMuc) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	)
	BEGIN
	    SELECT SP.MaSP, 
		SP.TenSP, 
		SP.DVT, 
		SP.Gia,
		SP.ThuongHieu,
		SP.SoLuongTon,
		SP.Cancellation
		FROM dbo.SanPham SP JOIN dbo.But B
		ON B.MaSP = SP.MaSP
		WHERE [dbo].[fuConvertToUnsign](SP.TenSP) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		OR [dbo].[fuConvertToUnsign](SP.ThuongHieu) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		OR [dbo].[fuConvertToUnsign](B.MauSac) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		OR [dbo].[fuConvertToUnsign](B.ChatLieu) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		OR [dbo].[fuConvertToUnsign](B.MauMuc) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		RETURN
	END

	IF EXISTS (
	SELECT * FROM dbo.SanPham SP JOIN dbo.ThietBiDienTu TBDT
	ON TBDT.MaSP = SP.MaSP
	WHERE [dbo].[fuConvertToUnsign](SP.TenSP) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR [dbo].[fuConvertToUnsign](SP.ThuongHieu) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR [dbo].[fuConvertToUnsign](TBDT.MauSac) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR [dbo].[fuConvertToUnsign](TBDT.ChatLieu) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR [dbo].[fuConvertToUnsign](TBDT.ThongSoKiThuat) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	)
	BEGIN
	    SELECT SP.MaSP, 
		SP.TenSP, 
		SP.DVT, 
		SP.Gia,
		SP.ThuongHieu,
		SP.SoLuongTon,
		SP.Cancellation
		FROM dbo.SanPham SP JOIN dbo.ThietBiDienTu TBDT
		ON TBDT.MaSP = SP.MaSP
		WHERE [dbo].[fuConvertToUnsign](SP.TenSP) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		OR [dbo].[fuConvertToUnsign](SP.ThuongHieu) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		OR [dbo].[fuConvertToUnsign](TBDT.MauSac) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		OR [dbo].[fuConvertToUnsign](TBDT.ChatLieu) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		OR [dbo].[fuConvertToUnsign](TBDT.ThongSoKiThuat) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		RETURN
	END

	IF EXISTS (
	SELECT * FROM dbo.SanPham SP 
	WHERE SP.MaSP NOT IN (SELECT MaSP FROM dbo.Sach) AND	
	SP.MaSP NOT IN (SELECT MaSP FROM dbo.ThietBiDienTu) AND	
	SP.MaSP NOT IN (SELECT MaSP FROM dbo.But)
	AND [dbo].[fuConvertToUnsign](SP.TenSP) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	OR [dbo].[fuConvertToUnsign](SP.ThuongHieu) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
	)
	BEGIN
	    SELECT SP.MaSP, 
		SP.TenSP, 
		SP.DVT, 
		SP.Gia,
		SP.ThuongHieu,
		SP.SoLuongTon,
		SP.Cancellation
		FROM dbo.SanPham SP 
		WHERE SP.MaSP NOT IN (SELECT MaSP FROM dbo.Sach) AND	
		SP.MaSP NOT IN (SELECT MaSP FROM dbo.ThietBiDienTu) AND	
		SP.MaSP NOT IN (SELECT MaSP FROM dbo.But)
		AND [dbo].[fuConvertToUnsign](SP.TenSP) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		OR [dbo].[fuConvertToUnsign](SP.ThuongHieu) LIKE N'%' + [dbo].[fuConvertToUnsign](@keyword) + '%'
		RETURN
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Sellslowly]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_Sellslowly]
@StartDate AS DATE = NULL,
@EndDate AS DATE = NULL
AS
BEGIN
	IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
	BEGIN
		SELECT CT.MaSP, S.TenSP, SUM(CT.SoLuong) AS SoLuong
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		JOIN dbo.SanPham S
		ON S.MaSP = CT.MaSP
		WHERE H.NgayGiaoDich BETWEEN @StartDate AND @EndDate
		GROUP BY CT.MaSP, S.TenSP
		HAVING SUM(CT.SoLuong) > 0 AND SUM(CT.SoLuong) <
		(SELECT CAST(SUM(T.SoLuong) / COUNT(*) AS FLOAT) GiaTriTrungBinh 
		FROM (SELECT SUM(CT.SoLuong) AS SoLuong
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		JOIN dbo.SanPham S
		ON S.MaSP = CT.MaSP
		WHERE H.NgayGiaoDich BETWEEN @StartDate AND @EndDate
		GROUP BY CT.MaSP, S.TenSP) AS T)
	END

	IF (@StartDate IS NULL AND @EndDate IS NULL)
	BEGIN
		SELECT CT.MaSP, S.TenSP, SUM(CT.SoLuong) AS SoLuong
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		JOIN dbo.SanPham S
		ON S.MaSP = CT.MaSP
		GROUP BY CT.MaSP, S.TenSP
		HAVING SUM(CT.SoLuong) > 0 AND SUM(CT.SoLuong) <
		(SELECT CAST(SUM(T.SoLuong) / COUNT(*) AS FLOAT) GiaTriTrungBinh 
		FROM (SELECT SUM(CT.SoLuong) AS SoLuong
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		JOIN dbo.SanPham S
		ON S.MaSP = CT.MaSP
		GROUP BY CT.MaSP, S.TenSP) AS T)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TableProductName]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_TableProductName]
AS
BEGIN
	SELECT (CASE
		WHEN T.TABLE_NAME = 'Sach' THEN N'Sách'
		WHEN T.TABLE_NAME = 'But' THEN N'Bút'
		WHEN T.TABLE_NAME = 'ThietBiDienTu' THEN N'Thiết bị điện tử'
		ELSE N'Văn phòng phẩm'
	END) AS Table_Display, T.TABLE_NAME AS Table_Name FROM (SELECT
  	TABLE_NAME
	FROM INFORMATION_SCHEMA.COLUMNS
	WHERE COLUMN_NAME = 'MaSP' AND TABLE_NAME <> 'ChiTietHoaDon') AS T
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TheBestSellter]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_TheBestSellter]
AS
BEGIN
	SELECT ROW_NUMBER() OVER (ORDER BY NEWID()) AS rownumber, * FROM (SELECT TOP 9 CT.MaSP, S.TenSP, SUM(CT.SoLuong) AS SoLuongBan 
	FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
	ON CT.MaHoaDon = H.MaHoaDon
	JOIN dbo.SanPham S
	ON S.MaSP = CT.MaSP
	WHERE H.NgayGiaoDich BETWEEN  CONVERT(DATE, CONCAT(YEAR(GETDATE()), RIGHT('0' + RTRIM(MONTH(GETDATE())), 2), '01')) AND EOMONTH(GETDATE())		
	GROUP BY CT.MaSP, S.TenSP ORDER BY SoLuongBan DESC) AS T
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TheMostTransaction]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_TheMostTransaction]
AS
BEGIN
	SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY TongTien DESC) AS rownumber, * FROM dbo.HoaDon) AS T
	WHERE rownumber <= 2
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Unsold]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_Unsold]
@StartDate AS DATE = NULL,
@EndDate AS DATE = NULL
AS
BEGIN
	IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
	BEGIN
		SELECT MaSP, TenSP, 0 AS SoLuong FROM dbo.SanPham
		WHERE MaSP NOT IN (
		SELECT CT.MaSP
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		JOIN dbo.SanPham S
		ON S.MaSP = CT.MaSP
		WHERE H.NgayGiaoDich BETWEEN @StartDate AND @EndDate
		GROUP BY CT.MaSP, S.TenSP)
	END

	IF (@StartDate IS NULL AND @EndDate IS NULL)
	BEGIN
		SELECT MaSP, TenSP, 0 AS SoLuong FROM dbo.SanPham
		WHERE MaSP NOT IN (
		SELECT CT.MaSP
		FROM dbo.HoaDon H JOIN dbo.ChiTietHoaDon CT
		ON CT.MaHoaDon = H.MaHoaDon
		JOIN dbo.SanPham S
		ON S.MaSP = CT.MaSP
		GROUP BY CT.MaSP, S.TenSP)
	END
END
GO
/****** Object:  Trigger [dbo].[TG_Bill]    Script Date: 6/5/2022 7:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TG_Bill] ON [dbo].[ChiTietHoaDon]
FOR INSERT, UPDATE
AS
BEGIN
	DECLARE @LoaiHoaDon VARCHAR(10)
	DECLARE @MaSP INT
	DECLARE @SoLuong INT
	
	SET NOCOUNT ON;

	IF EXISTS(SELECT * FROM Inserted) AND NOT EXISTS (SELECT * FROM Deleted)
	BEGIN

		SELECT @LoaiHoaDon = HD.LoaiHoaDon, @MaSP = I.MaSP, @SoLuong = I.SoLuong FROM Inserted I
		JOIN dbo.HoaDon HD
		ON HD.MaHoaDon = I.MaHoaDon

		IF (@LoaiHoaDon = 'NBill')
		BEGIN
		    UPDATE dbo.SanPham SET SoLuongTon = SoLuongTon + @SoLuong WHERE MaSP = @MaSP
		END
		ELSE IF (@LoaiHoaDon = 'XBill')
		BEGIN
		    UPDATE dbo.SanPham SET SoLuongTon = SoLuongTon - @SoLuong WHERE MaSP = @MaSP
		END

	END
	ELSE IF EXISTS (SELECT * FROM Inserted) AND EXISTS (SELECT * FROM Deleted)
	BEGIN
		DECLARE @InsertSoLuong INT
		DECLARE @AfterSoluong INT

		SELECT @LoaiHoaDon = HD.LoaiHoaDon, @MaSP = I.MaSP, @AfterSoluong = I.SoLuong FROM Inserted I
		JOIN dbo.HoaDon HD
		ON HD.MaHoaDon = I.MaHoaDon

		SELECT @SoLuong = D.SoLuong FROM Deleted D
		SELECT @InsertSoLuong = @AfterSoluong - @SoLuong

		UPDATE dbo.SanPham SET SoLuongTon = SoLuongTon + @InsertSoLuong WHERE MaSP = @MaSP
	END
END
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ENABLE TRIGGER [TG_Bill]
GO
USE [master]
GO
